/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-text, 410);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding-block: clamp(6.778rem, 0.75vw + 6.621rem, 7.222rem);
}

.header_main-title {
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(2.722rem, 4.9vw + 1.7rem, 3.611rem);
}

.header_title {
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(0.778rem, 2.8vw + 0.194rem, 1.278rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.card {
  inline-size: var(--width-adaptive);
  background-color: var(--bg-color);
  border: 2px solid var(--bg-border-color);
}

.card_title {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-title, 715);
  font-size: 1rem;
  padding-block: 4px;
  padding-inline: 10px;
}

.card_image-block {
  position: relative;
  border-top: 2px solid var(--bg-border-color);
  border-bottom: 2px solid var(--bg-border-color);
}

.image-block_watermark {
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  z-index: 1;
}

@supports ((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
  .image-block_watermark {
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
  }
}

.card_image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.filter_hue-rotate {
  filter: hue-rotate(-10deg);
}

.filter_brightness {
  filter: brightness(1.1);
}

.filter_saturate {
  filter: saturate(1.5);
}

.filter_contrast {
  filter: contrast(1.2);
}

.filter_sepia {
  filter: sepia(0.2);
}

.filter_opacity-saturate {
  filter: opacity(0.9) saturate(1.1);
}

.filter_blur-hue-rotate {
  filter: blur(0.5px) hue-rotate(-4deg);
}

.card_content {
  display: flex;
  flex-direction: column;
  padding-inline: 25px;
  padding-block: 25px;
  gap: 25px;
}

.card_content-text {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-text, 410);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_content-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.button {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--default-color);
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--accent-color);
}

.button:focus {
  outline: none;
}

.button:not(.button-heart) {
  color: var(--default-color);
}

.button__text {
  position: relative;
  z-index: 1;
  background-color: var(--accent-color);
  color: var(--default-color);
  mix-blend-mode: difference;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button:not(.button-heart)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--default-color);
  background-color: var(--default-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
  width: 100%;
  height: 100%;
}

.button:not(.button-heart):hover::before {
  transform: translateX(0);
}

.button:not(.button-heart):focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button-heart {
  border: 2px solid transparent;
  transition: border 0.3s ease;
  padding: 0;
  cursor: pointer;
}

.button-heart:focus {
  outline: none;
}

.button-heart:focus-visible {
  border: var(--accent-color);
  outline: none;
}

.like-icon {
  transform-origin: center;
}

.contour {
  fill: black;
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: red;
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition-delay: 0s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.like-icon.is-liked .core {
  fill: red;
  transition-delay: 0s;
}

.sparks {
  fill: red;
  opacity: 0;
}

.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in 0.1s 1;
}

.save-button {
  inline-size: 335px;
  block-size: 55px;
  display: flex;
  gap: 8px;
  margin-block-end: 100px;
}

.dialog-save {
  background-color: var(--bg-color);
  padding: 27.8px;
  max-inline-size: 353px;
  max-block-size: 191px;
}

.dialog-save-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-save-text {
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  max-inline-size: 234px;
}

.dialog-button {
  padding: 10px 130px;
}

.dialog-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog-save::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog-icon {
  width: 39px;
  height: 39px;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }

  .save-icon {
    width: 28px;
    height: 28px;
  }

  .dialog-save {
    max-inline-size: 341px;
    padding: 28px 38px;
  }

  .dialog-save-text {
    max-inline-size: 200px;
  }

  .dialog-button {
    padding: 10px 114px;
  }
}